route-map {{customer_desc}}-AS{{customer_as}}-{{customer_circuit_id}}-V6-IN permit 10
 description "Seta LP 410"
 match community CUSTOMER-SET-LP410
continue 20
 set local-preference 410
{% for community in customer_communities %}
 set community {{community}}
{% endfor %}

route-map {{customer_desc}}-AS{{customer_as}}-{{customer_circuit_id}}-V6-IN permit 11
 description "Seta LP 420"
 match community CUSTOMER-SET-LP420
continue 20
 set local-preference 420
{% for community in customer_communities %}
 set community {{community}}
{% endfor %}

route-map {{customer_desc}}-AS{{customer_as}}-{{customer_circuit_id}}-V6-IN permit 12
 description "Seta LP 430"
 match community CUSTOMER-SET-LP430
continue 20
 set local-preference 430
{% for community in customer_communities %}
 set community {{community}}
{% endfor %}

route-map {{customer_desc}}-AS{{customer_as}}-{{customer_circuit_id}}-V6-IN permit 13
 description "Marca communities padrao"
continue
 set local-preference 400
{% for community in customer_communities %}
 set community {{community}}
{% endfor %}

route-map {{customer_desc}}-AS{{customer_as}}-{{customer_circuit_id}}-V6-IN permit 20
 description "Permite prefixos /128 de AS-PATH permitidos e marcados com community blackhole"
 match ipv6 address prefix-list {{customer_desc}}-AS{{customer_as}}-{{customer_circuit_id}}-V6-IN-RTBH
 match as-path {{customer_as_path_acl}}
 match community JUNTO-BLACKHOLE
 set ipv6 next-hop 2001:DB8::666

route-map {{customer_desc}}-AS{{customer_as}}-{{customer_circuit_id}}-V6-IN permit 40
 description "Permite prefixos CIDR do cliente e que estejam contidos na AS Path ACL {{customer_as_path_acl}}"
 match ipv6 address prefix-list {{customer_desc}}-AS{{customer_as}}-{{customer_circuit_id}}-V6-IN
 match as-path {{customer_as_path_acl}}

route-map {{customer_desc}}-AS{{customer_as}}-{{customer_circuit_id}}-V6-IN deny 1000
 description "Filtra demais prefixos"



route-map {{customer_desc}}-AS{{customer_as}}-{{customer_circuit_id}}-V6-OUT deny 10
 description "Filtro de prefixos bogons"
 match ipv6 address prefix-list ipv6-bogons

route-map {{customer_desc}}-AS{{customer_as}}-{{customer_circuit_id}}-V6-OUT deny 20
 description "Filtro de prefixos maiores ou igual a /49"
 match ipv6 address prefix-list PREFIXOS-GE49

route-map {{customer_desc}}-AS{{customer_as}}-{{customer_circuit_id}}-V6-OUT deny 30
 description "Filtro  de AS bogons"
 match as-path 399
 
route-map {{customer_desc}}-AS{{customer_as}}-{{customer_circuit_id}}-V6-OUT permit 1000
 description "Permite prefixos das communities que compoem a full route"
 match community 1


