no route-map {{nei_desc}}-{{circuit_id}}-IN 

no route-map {{nei_desc}}-{{circuit_id}}-OUT

no ip as-path access-list {{as_path_acl}}

no ip prefix-list {{nei_desc}}-{{circuit_id}}-V4-IN

no ip prefix-list {{nei_desc}}-{{circuit_id}}-BLACKHOLE-IN
